{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "This is the description from the **Open API documentation**.",
        "contact": {"email": "sample@exampleOpenAPI.com"},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "5.0.0"
    },
    "externalDocs": {
        "description": "Find out more about the API",
        "url": "http://www.exampleOpenAPI.com"
    },
    "servers": [
        {"url": "https://exampleOpenAPI.io/v5"}
    ],
    "tags": [
        {
            "name": "exampleTag",
            "description": "Access to examples"
        }
    ],
    "paths": {
        "/examples": {
            "get": {
                "summary": "List all examples",
                "operationId": "listExamples",
                "tags": ["exampleTag"],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "How many items to return at one time (max 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A paged array of examples",
                        "headers": {
                            "x-next": {
                                "description": "A link to the next page of responses",
                                "schema": {"type": "string"}
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {"$ref": "#/components/schemas/example"}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "example_auth": [
                            "write:examples",
                            "read:examples"
                        ]
                    }
                ]
            },
            "put": {
                "tags": ["exampleTag"],
                "summary": "Update an existing example",
                "operationId": "updateExample",
                "responses": {
                    "400": {"description": "Invalid ID supplied"},
                    "404": {"description": "Example not found"},
                    "405": {"description": "Validation exception"}
                },
                "security": [
                    {
                        "example_auth": [
                            "write:examples",
                            "read:examples"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "body"
            },
            "post": {
                "tags": ["exampleTag"],
                "summary": "Add a new example",
                "operationId": "addExample",
                "requestBody": {
                    "description": "Example object that needs to be added",
                    "required": true,
                    "content": {}
                },
                "responses": {
                    "405": {"description": "Invalid input"}
                },
                "security": [
                    {
                        "example_auth": [
                            "write:examples",
                            "read:examples"
                        ]
                    }
                ],
                "x-codegen-request-body-name": "body"
            }
        },
        "/example/findById": {
            "get": {
                "tags": ["exampleTag"],
                "summary": "Finds examples by id",
                "operationId": "findExamplesById",
                "parameters": [
                    {
                        "name": "exampleId",
                        "in": "query",
                        "description": "Example ID values that need to be considered for filter",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "default": "available",
                                "enum": [
                                    "available",
                                    "pending",
                                    "sold"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {"description": "successful operation"},
                    "400": {"description": "Invalid status value"}
                },
                "security": [
                    {
                        "example_auth": [
                            "write:examples",
                            "read:examples"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "example": {
                "required": [
                    "id",
                    "description"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "description": {
                        "type": "string",
                        "example": "doggie"
                    }
                },
                "xml": {"name": "Pet"}
            }
        },
        "securitySchemes": {
            "example_auth": {
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "http://exampleOpenAPI.com/oauth/dialog",
                        "scopes": {
                            "write:examples": "modify examples in your account",
                            "read:examples": "read your examples"
                        }
                    }
                }
            },
            "api_key": {
                "type": "apiKey",
                "name": "api_key",
                "in": "header"
            }
        }
    }
}